body{
  background-color: #E8B34D;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background: linear-gradient(315deg, #E8B34D 0%, #E85d4d );


 
 
}


#wrapper section {
  margin-left: 25vh;
}


#wrapper {
  width: 960px;
  height: 800px;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(to bottom, #E8B34D 0%, #E85d4d 100%);


}


nav li{
  display: inline-block;
  margin-left: 60px;
  color: black;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  text-decoration: none;
  list-style: none;
}




#wrapper section figure
{
  height: 250px;
  width: 250px;
  border-radius: 50%;


}


#wrapper section h1{
  margin-left: 50px;
  font-size: 30px;
  transition: 0.3s;
}


#wrapper section h1:hover {
  transform: translate(10px, -10px);


}


#wrapper section h2 {
  font-family: 'Kanit', sans-serif;
  font-family: 'Playfair Display', serif;
  color:cornsilk;
  font-size: 30px;
  transition: 0.3s;
}


#wrapper section h2:hover {
  transform: translate(10px, -10px);


}


h1 {
  font-family: 'Kanit', sans-serif;
  font-family: 'Playfair Display', serif;
  color:cornsilk;
  font-size: 25px;
}


p {
  font-family: 'Kanit', sans-serif;
  font-family: 'Playfair Display', serif;
  color:bisque;
}






section img{


  transition: transform 0.3s;


}


section img:hover {
  transform: translate(10px, -10px);
}


footer p {
text-align: center;
}
