<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>


    <meta name="viewport" content="width=device-width">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300&family=Playfair+Display:ital@1&display=swap" rel="stylesheet">

    <link rel='stylesheet' href='/content/app.css' />
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css"/>
    <link rel="stylesheet" href="/css/styles.css/"/>
    <link rel="stylesheet" href="/content/tablet.css" type="text/css" media="only screen and (min-width:481px) and (max-width:960px)">
    <link rel="stylesheet" href="/content/phone.css" type="text/css" media="only screen and (max-width:480px)">



</head>
<body>
 <!--Navigation Bar-->

<nav class="navbar navbar-expand-lg navbar-light custom-bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">INFR3120</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

        <li class="nav-item">
        <% if (title == 'Home') {%>
          <a class="nav-link active" aria-current="page" href="/home">
        <% } else { %>
          <a class="nav-link" aria-current="page" href="/home">
        <% } %>


        
        
          <i class="fas fa-home"></i> Home</a>
        </li>
        <li class="nav-item">
        <% if (title == 'About') {%>
          <a class="nav-link active " aria-current="page" href="/about">
        <% } else { %>
          <a class="nav-link " aria-current="page" href="/about">
        <% } %>



          
          <i class="fa-solid fa-info"></i> About</a>
        </li>

        <li class="nav-item">
        <% if (title == 'Projects') {%>
          <a class="nav-link active" aria-current="page" href="/projects">
        <% } else { %>
          <a class="nav-link" aria-current="page" href="/projects">
        <% } %>
          
          <i class="fa-solid fa-gear"></i> Projects</a>
        </li>

        <li class="nav-item">
          <% if (title == 'Contact') {%>
            <a class="nav-link active" aria-current="page" href="/contact">
          <% } else { %>
            <a class="nav-link" aria-current="page" href="/contact">
          <% } %>
          
          <i class="fa-solid fa-phone"></i> Contact</a>
        </li>
      </ul>
    </div>
  </div> 
</nav> 


<div id="wrapper">
    <section>
        <article>
         

<div class="jumbotron">
  <h1 class="display-4">Welcome to the <%= title %> page</h1>
  <hr class="my-4">
  <p class="lead">
  </p>
</div>

            <h1>Contact Page</h1>
            <form method="post" enctype="text/plain" name="form"  action="mailto:bernard.yeboah@ontariotechu.net">

              <!-- Input for name -->
                <p>
                    <label for="name" class="form-design">Name :</label><br>
                    <input type="text" name="name" id="name" size="32" placeholder="Please enter your name">
                </p>
              <!-- Input for name -->

                <p>
                  <label for="phone" class="form-design">Phone Number: </label><br>
                  <input name="tel" type="tel" id="phone" size="40" placeholder="Please enter your phone number">
                </p>
              <!-- Input for email -->
                <p>
                    <label for="email" class="form-design">Email :</label><br>
                    <input name="email" type="email" id="email" size="40" placeholder="Please enter your email">
                </p>
              <!-- Input for comments -->
                <p>
                    <label for="comments" class="form-design">Comments?</label><br>
                    <textarea name="comments" id="comments" cols="80" rows="8" placeholder="Please enter any comments you may have..."></textarea>
                </p>
              <!-- Submit button -->

                <p>
                    <input type="submit" value="Click here to submit the form" >
                </p>
            </form>
        </article>
    </section>
</div>
<footer>
    
    <nav class="navbar navbar-expand-lg navbar-light custom-bg-light">
    <h6>&#169; 2023 All rights reserved by Bernard Yeboah.</h6>
    <h1></h1>
    <h6>Email: <a href="mailto:bernard.yeboah@ontariotechu.net">bernard.yeboah@ontariotechu.net</a> | LinkedIn: <a href="https://www.linkedin.com/in/bernard-yeboah-b6a668261" target='_blank'>LinkedIn Profile</a>
      | Github: <a href="https://github.com/bernardyeboah1" target='_blank'>Github</a></h5>
    
    </nav>
</footer>
</body>
</html>


