<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
    <!--CSS Files-->
  <link rel='stylesheet' href='/content/app.css' />
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css"/>
  <link rel="stylesheet" href="/css/styles.css/"/>
</head>
<body>
    <!--Navigation Bar-->

<nav class="navbar navbar-expand-lg navbar-light custom-bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">INFR3120</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

         <li class="nav-item">
         <a class="nav-link active" aria-current="page" href="/home"><i class="fas fa-home"></i> Home</a>

        </li>

         <li class="nav-item">
          <a class="nav-link " aria-current="page" href="/about"><i class="fa-solid fa-info"></i> About</a>
        </li>

         <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/projects"> <i class="fa-solid fa-gear"></i> Projects</a>
        </li>

         <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/contact"><i class="fa-solid fa-phone"></i> Contact</a>
        </li>
    </div>
  </div>
</nav>  
  <!--Main Content -->

<main>
<div class="jumbotron">
  <h1 class="display-4">Welcome to the <%= title %> page</h1>
  <hr class="my-4">
  <p class="lead">
  </p>
</div>



<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Assignment 2</title>
   
    <!-- full-size monitor style sheet -->
    <link href="full.css" rel="stylesheet" type="text/css" media="only screen and (min-width:960px)">
    <!-- tablet style sheet -->
    <link href="tablet.css" rel="stylesheet" type="text/css" media="only screen and (min-width:481px) and (max-width:960px)">
    <!-- phone style sheet -->
    <link href="phone.css" rel="stylesheet" type="text/css" media="only screen and (max-width:480px)">

    <meta name="viewport" content="width=device-width">
        <!-- Google Fonts -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300&family=Playfair+Display:ital@1&display=swap" rel="stylesheet">


  <link rel='stylesheet' href='/content/app.css' />
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css"/>
  <link rel="stylesheet" href="/css/styles.css/"/>
  
  </head>
  <body>
    <div id="wrapper">
      <article>
        <section>
  




          <h1>Bernard Yeboah, Student at Ontario Tech University</h1>
          <p id='low-head'>Hello, my name is Bernard. Welcome to my personal website. Feel free to scroll around!</p>
          <a><img src="IMG-3106.JPG" alt="Image for homepage"></a>
          <h5>Hello there! I'm Bernard, and I'm delighted that you've taken the time to visit my website. Here, you'll get a glimpse into my world. I'm open to internships and ready to embrace new challenges. Please feel free to contact me on my LinkedIn, my email address linked below, or leave your information on the  <a href="/contact">contact page</a>. Thank You
          </h5>
        </section>
      </article>
    </div>
    <footer>
      <p>&#169; 2023 by Bernard Yeboah</p>
      <p>email : bernard.yeboah@ontariotechu.net</p>
    </footer>
  </body>
</html>

</main>


  <!--Script Files-->
  <script src = "/scripts/app.js"></script>
  <script src = "/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src = "/jquery/dist/jquery.min.js/"></script>





</body>
</html>
