/* Tablet CSS */
@media only screen and (min-width: 481px) and (max-width: 960px) {
  body {
      background-color: #5C5C5C;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      background: linear-gradient(to bottom, #6d7171 10%, #3d3d3d 100%);
  }

  /* Set left margin for the content */
  #wrapper section {
      margin-left: 10%;
  }

  .display-4 {
    font-family: 'Kanit', sans-serif;
    font-family: 'Oswald', serif;
    color:  white;
    transition: 0.3s;
    margin-left: 300px;
  }

  /* Wrapper width, height, and background */
  #wrapper {
      width: 90%;
      height: 800px;
      margin-left: auto;
      margin-right: auto;
      background: linear-gradient(315deg, #3d3d3d 0%, #6d7171);
  }

  /* Style navigation links */
  .custom-bg-light {
    background-color: #ff1e00; 
  }

    /* Style nav text */

  section nav ul li a {
    text-decoration: none;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
  }

  /* Style h1 headings */
  #wrapper section h1 {
      margin-left: 5%;
      font-size: 28px;
  }

  /* Style h2 headings */
  #wrapper section h2 {
      font-family: 'Kanit', sans-serif;
      font-family: 'Playfair Display', serif;
      color: #ff1e00;
      font-size: 28px;
  }

  /* Style h1 headings */
  h1 {
      font-family: 'Kanit', sans-serif;
      font-family: 'Playfair Display', serif;
      color: #ff1e00;
      font-size: 18px;
      margin-right: 10%;
  }

  /* Style paragraphs */
  p {
      font-family: 'Kanit', sans-serif;
      font-family: 'Playfair Display', serif;
      color: #ff1e00;
      margin-left: auto;
  }

  /* Style images */
  section img {
      height: 180px;
      width: auto;
      border-radius: 20px;
  }

  /* Style home page image*/
  #wrapper section a img {
      margin-top: 20px;
      height: auto;
      width: 250px;
      margin-left: 5%;
  }

  /* Style footer  */
  footer p {
      text-align: center;
  }

  /* Style  h5 headings */
  #wrapper section h5 {
      font-family: 'Kanit', sans-serif;
      font-family: 'Playfair Display', serif;
      color: #ff1e00;
      margin-bottom: 60px;
      text-align: center;
      margin-right: 5%;
  }
}

